*/test-local-key
*/test-local-key.pub
test-local-key
test-local-key.pub

**/.terraform
**/terraform.tfstate.backup
**/terraform.tfstate

# Notes
ORGANIZATION_SUMMARY.md
TerraformArticle.odt
test.tf

# Ignore tfvars files as they may contain sensitive data
*.tfvars
*.tfvars.json
*auto.tfvars
